app/bootstrap.php.cache
bin/phantom-sahi.js
bin/phpspec

app/var/sessions

app/config/parameters.yml
app/phpunit.xml
app/config/*_local.yml
app/cache/*
app/logs/*
app/config/sips/param/pathfile
app/Resources/auctions/*.pdf
app/Resources/online-results/*.csv
app/var/*

vendor
bin/behat
bin/webunit
behat.yml

web/bundles/*
web/css/*
web/js/*
web/assets/*
web/media/*
web/pdf/*
symfonyVagrant
VagrantFile~
.vagrant
.idea/*
src/VPAutoBundle/Resources/public/backend/.sass-cache/*

tags
*.swp
*.*~

.rsync_cache/
sublime-project

composer.phar
node_modules/*

